$primary-color : #F4F4F4;
$secondary-color : #FFFFFF;
$tertiary-color : rgb(160, 160, 160);
$title-color : #3C3B3B;
$text-color : #646464;
$hover-color : #2EBAAE;
$border-color : rgba($tertiary-color, 0.3);
$transparent-color : transparent;

$mediascreen : 700px;

$transition : 0.4s;
$scale : 1.1;

$font : "Raleway", Helvetica, sans-serif;

@mixin display($type) {
    .d-#{$type} {
        display: $type;
    }
}
@include display(block);
@include display(flex);
@include display(none);

@mixin align-items($type) {
    .al-#{$type} {
        align-items: $type;
    }
}
@include align-items(center);

@mixin justify-content($type) {
    .jc-#{$type} {
        justify-content: $type;
    }
}
@include justify-content(space-around);
@include justify-content(space-between);
@include justify-content(center);

@mixin flex-direction($type) {
    .fd-#{$type} {
        flex-direction: $type;
    }
}
@include flex-direction(column);

.primary-color{
    background-color: $primary-color;
}
.secondary-color{
    background-color : $secondary-color;
}
.tertiary-color{
    color: $tertiary-color;
}
.transparent-color{
    background-color: $transparent-color;
}

.title-color{
    color: $title-color;
}
.text-color{
    color: $text-color;
}
.font{
    font-family: $font;
}
.text-align-center{
    text-align: center;
}

.letter-spacing{
    letter-spacing: 4px;
}
.word-spacing{
    word-spacing: 5px;
}

.index{
    z-index: 1;
}

.hov-color:hover{
    color : $hover-color;
}
.b-hov-color:hover, .b-focus-color:focus{
    border-color: $hover-color;
}

.b-none{
    border: none;
}
.b, .champs-recherche:focus{
    border: 1px solid $border-color;
}
.b-color{
    color: $border-color;
}

.decoration-underline-dotted{
    text-decoration: underline dotted;
}

.transition{
    transition: $transition;
}
.transform:hover{
    transform: scale($scale);
}

.overflow-hidden{
    overflow: hidden;
}
.overflow-x-hidden{
    overflow-x: hidden;
}

.b-radius-20{
    border-radius: 20px;
}

@mixin border($direction) {
    .b-#{$direction} {
        border-#{$direction} : 1px solid $border-color;
    }
}
@include border(top);
@include border(bottom);
@include border(left);

.b-bottom-dotted{
    border-bottom: 1px dotted $border-color;
}
.b-2px{
    border-width: 2px;
}

@mixin font-size($taille) {
    .fs-#{$taille} {
        font-size : $taille * 1px;
    }
}
@include font-size(10);
@include font-size(12);
@include font-size(15);
@include font-size(18);
@include font-size(20);

@mixin font-weight($taille) {
    .fw-#{$taille} {
        font-weight : $taille * 100;
    }
}
@include font-weight(5);
@include font-weight(7);
@include font-weight(8);
@include font-weight(9);

@mixin height($taille) {
    .h-#{$taille} {
        height : $taille * 1vh;
    }
    .h-#{$taille}-cent, .h-#{$taille}-cent-before::before {
        height : $taille * 1%;
    }
}
@include height(5);
@include height(6);
@include height(7);
@include height(9);
@include height(100);

@mixin width($taille) {
    .w-#{$taille} {
        width : $taille * 1vw;
    }
    .w-#{$taille}-cent, .w-#{$taille}-cent-before::before {
        width : $taille * 1%;
    }
    .w-#{$taille}-em {
        width : $taille * 1em;
    }
}
@include width(0);
@include width(4);
@include width(15);
@include width(35);
@include width(50);
@include width(60);
@include width(77);
@include width(100);

.m-auto {
    margin : auto;
}
@mixin margin($taille) {
    .m-t-#{$taille} {
        margin-top : $taille * 1vh;
    }
    .m-r-#{$taille} {
        margin-right : $taille * 1vw;
    }
    .m-b-#{$taille} {
        margin-bottom : $taille * 1vh;
    }
    .m-l-#{$taille} {
        margin-left : $taille * 1vw;
    }
}
@include margin(0);
@include margin(1);
@include margin(2);
@include margin(4);
@include margin(5);
@include margin(6);

.p-initial {
    padding : initial;
}

@mixin padding($taille) {
    .p-t-#{$taille} {
        padding-top : $taille * 1vh;
    }
    .p-r-#{$taille} {
        padding-right : $taille * 1vw;
    }
    .p-b-#{$taille} {
        padding-bottom : $taille * 1vh;
    }
    .p-l-#{$taille} {
        padding-left : $taille * 1vw;
    }
    .p-t-#{$taille}-px::before {
        padding-top : $taille * 1px;
    }
    .p-r-#{$taille}-px::before {
        padding-right : $taille * 1px;
    }
    .p-b-#{$taille}-px::before {
        padding-bottom : $taille * 1px;
    }
    .p-l-#{$taille}-px::before {
        padding-left : $taille * 1px;
    }
}
@include padding(0);
@include padding(2);
@include padding(3);
@include padding(4);
@include padding(5);
@include padding(6);
@include padding(7);
@include padding(10);
@include padding(13);

@mixin cursor($cursor) {
    .#{$cursor} {
        cursor: $cursor;
    }
    .hov-#{$cursor}:hover {
        cursor: $cursor;
        text-decoration: none;
    }
}
@include cursor(pointer);

@mixin line-height($taille) {
    .lh-#{$taille} {
        line-height: $taille *0.1vh;
    }
}
@include line-height(35);
@include line-height(40);

.pos-absolute:before{
    position: absolute;
}
@mixin position($statut) {
    .pos-#{$statut} {
        position: $statut;
    }
}
@include position(fixed);
@include position(relative);

@mixin right($position){
    .right-#{$position}{
        right: $position *1vw;
    }
}
@include right(0);

.logo:before{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100px' height='100px' viewBox='0 0 100 100' preserveAspectRatio='none' zoomAndPan='disable'%3E%3Cpolygon points='0,0 100,0 100,25 50,0 0,25' style='fill:%23f4f4f4' /%3E%3Cpolygon points='0,100 100,100 100,75 50,100 0,75' style='fill:%23f4f4f4' /%3E%3C/svg%3E");
    background-size: 100% 100%;
    content: '';
}
.logo-recherche:before{
    font-family: "Font Awesome 6 Free";
    content: "\f002";
}
.champs-recherche:focus{
    outline: none;
    box-shadow: inset 0 0 0 1px $hover-color;
}

@media screen and (min-width: $mediascreen) {

    @mixin display-responsive($type) {
        .d-resp-#{$type} {
            display: $type;
        }
    }
    
    @include display-responsive(block);
    @include display-responsive(flex);

    @mixin align-items-responsive($type) {
        .al-resp-#{$type} {
            align-items: $type;
        }
    }
    
    @include align-items-responsive(start);
    @include align-items-responsive(center);
    @include align-items-responsive(end);
    
    @mixin justify-content-responsive($type) {
        .jc-resp-#{$type} {
            justify-content: $type;
        }
    }
    
    @include justify-content-responsive(space-between);

    @mixin flex-direction-responsive($type) {
        .fd-resp-#{$type} {
            flex-direction: $type;
        }
    }
    
    @include flex-direction-responsive(column);
    @include flex-direction-responsive(row);

    .b-none-r{
        border: none;
    }

    .b-r{
        border: 1px solid $border-color;
    }

    .text-align-resp-initial{
        text-align: initial;
    }
    
    @mixin border-responsive($direction) {
        .b-resp-#{$direction} {
            border-#{$direction} : 1px solid $border-color;
        }
    }

    @include border-responsive(right);
    @include border-responsive(bottom);

    @mixin font-size-responsive($taille) {
        .fs-resp-#{$taille} {
            font-size : $taille * 1px;
        }
    }
    @include font-size-responsive(10);
    @include font-size-responsive(15);

    @mixin font-weight-responsive($taille) {
        .fw-resp-#{$taille} {
            font-weight : $taille * 100;
        }
    }
    @include font-weight-responsive(8);

    .w-resp-auto {
        width : auto;
    }
    @mixin width-responsive($taille) {
        .w-resp-#{$taille} {
            width : $taille * 1vw;
        }
        .w-resp-#{$taille}-cent {
            width : $taille * 1%;
        }

    }
    @include width-responsive(5);
    @include width-responsive(10);
    @include width-responsive(15);
    @include width-responsive(12);
    @include width-responsive(15);
    @include width-responsive(17);
    @include width-responsive(24);
    @include width-responsive(55);
    @include width-responsive(90);

    .m-resp-auto {
        margin : auto;
    }
    @mixin margin-responsive($taille) {
        .m-resp-t-#{$taille} {
            margin-top : $taille * 1vh;
        }
        .m-resp-r-#{$taille} {
            margin-right : $taille * 1vw;
        }
        .m-resp-b-#{$taille} {
            margin-bottom : $taille * 1vh;
        }
        .m-resp-l-#{$taille} {
            margin-left : $taille * 1vw;
        }
    }
    @include margin-responsive(0);
    @include margin-responsive(1);
    @include margin-responsive(2);
    @include margin-responsive(3);
    @include margin-responsive(4);
    @include margin-responsive(5);
    @include margin-responsive(6);

    .p-resp-initial {
        padding : initial;
    }
    
    @mixin padding-responsive($taille) {
        .p-resp-t-#{$taille} {
            padding-top : $taille * 1vh;
        }
        .p-resp-r-#{$taille} {
            padding-right : $taille * 1vw;
        }
        .p-resp-b-#{$taille} {
            padding-bottom : $taille * 1vh;
        }
        .p-resp-l-#{$taille} {
            padding-left : $taille * 1vw;
        }
    }
    @include padding-responsive(0);
    @include padding-responsive(1);
    @include padding-responsive(2);
    @include padding-responsive(3);
    @include padding-responsive(4);
    @include padding-responsive(6);
    @include padding-responsive(9);
    @include padding-responsive(10);

    @mixin line-height-responsive($taille) {
        .lh-resp-#{$taille} {
            line-height: $taille * 0.1vh;
        }
    }
    @include line-height-responsive(30);
    @include line-height-responsive(40);

    @mixin position-responsive($statut){
        .pos-resp-#{$statut}{
            position: $statut;
        }
    }
    @include position-responsive(absolute);

    @mixin top-responsive($position){
        .top-resp-#{$position}{
            top: $position *1vh;
        }
    }
    @include top-responsive(12);

    @mixin right-responsive($position){
        .right-resp-#{$position}{
            right: $position *1vw;
        }
    }
    @include right-responsive(8);

    .lorem:after{
        content: 'LOREM';
    }
    .ipsum:after{
        content: "IPSUM";
    }
    .feugiat:after{
        content: "FEUGIAT";
    }
    .tempus:after{
        content: "TEMPUS";
    }
    .adipiscing:after{
        content: "ADIPISCING";
    }
    .nom:after{
        content: "JANE DOE";
    }
    .order-1{
        order: 1;
    }
  }