.display-block {
  display: block;
}

.display-flex {
  display: flex;
}

.display-none {
  display: none;
}

.align-items-center {
  align-items: center;
}

.justify-content-space-around {
  justify-content: space-around;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.flex-direction-column {
  flex-direction: column;
}

.primary-color {
  background-color: #F4F4F4;
}

.secondary-color {
  background-color: #FFFFFF;
}

.tertiary-color {
  color: rgb(160, 160, 160);
}

.hover-color:hover {
  color: #2EBAAE;
}

.border-hover-color:hover {
  border-color: #2EBAAE;
}

.border-none {
  border: none;
}

.border {
  border: 1px solid rgba(160, 160, 160, 0.3);
}

.border-top {
  border-top: 1px solid rgba(160, 160, 160, 0.3);
}

.border-bottom {
  border-bottom: 1px solid rgba(160, 160, 160, 0.3);
}

.border-left {
  border-left: 1px solid rgba(160, 160, 160, 0.3);
}

.border-bottom-dotted {
  border-bottom: 1px dotted rgba(160, 160, 160, 0.3);
}

.border-2px {
  border-width: 2px;
}

body {
  margin: 0;
}

header {
  position: fixed;
  width: 100%;
  z-index: 1;
  height: 6vh;
}

.font {
  font-family: "Raleway", Helvetica, sans-serif;
}

.font-size-10 {
  font-size: 10px;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-15 {
  font-size: 15px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-20 {
  font-size: 20px;
}

.font-weight-5 {
  font-weight: 500;
}

.font-weight-7 {
  font-weight: 700;
}

.font-weight-8 {
  font-weight: 800;
}

.font-weight-9 {
  font-weight: 900;
}

.pointer {
  cursor: pointer;
}

.hover-pointer:hover {
  cursor: pointer;
  text-decoration: none;
}

.title-color {
  color: #3C3B3B;
}

.text-color {
  color: #646464;
}

h1 {
  padding: 20px;
}

h2 {
  margin-top: 6vh;
}

h3 {
  margin: 2vh 0;
}

u, .pointiller {
  text-decoration: underline dotted;
}

.bouton-navbar {
  height: 6vh;
  width: 15vw;
  background-color: transparent;
}

.bouton {
  background-color: transparent;
  height: 7vh;
  width: 77vw;
  margin: 40px 0;
}

.bouton-retour {
  background-color: transparent;
  height: 7vh;
  width: 77vw;
}

.border-color {
  color: rgba(160, 160, 160, 0.3);
}

.bouton-lireplus {
  height: 7vh;
}

.navbar {
  z-index: 1;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 3vh;
}

.texte-navbar {
  padding: 0 0 0 7vw;
  text-decoration: none;
  transition: 0.3s;
}

.div-navbar {
  padding-bottom: 5vh;
}

.div-bouton-navbar {
  margin-bottom: 2vh;
}

.bouton-log-in {
  margin: 40px 0;
  width: 50vw;
  height: 9vh;
}

.titre-navbar {
  width: 60vw;
  padding-bottom: 2vw;
  margin-top: 5vh;
}

.fin-titre-navbar {
  padding: initial;
}

.sous-titre-navbar {
  padding-top: 2vh;
}

.logo-recherche:before {
  font-family: "Font Awesome 6 Free";
  content: "\f002";
  position: absolute;
  padding: 12px 7px;
}

.champs-recherche {
  height: 5vh;
  width: 50vw;
  padding-left: 6vw;
}

.champs-recherche:focus {
  outline: none;
  border: 1px solid;
  box-shadow: inset 0 0 0 1px #2EBAAE;
}

.border-focus-color:focus {
  border-color: #2EBAAE;
}

.grande-div {
  border-top: transparent;
  padding-top: 10vh;
}

.div-blog {
  margin-bottom: 5vh;
}

.barre-div {
  width: 77vw;
}

.petit-blog {
  margin: 5vh 0;
}

img {
  margin: 20px;
}

.image-icone {
  border-radius: 20px;
  margin: 10px;
  margin-top: 0;
}

.div-image-blog {
  margin-top: 4vh;
}

.image-blog {
  margin: auto 0;
  width: 100%;
  transition: 0.4s;
}

.image-blog:hover {
  transform: scale(1.1);
}

.div-hidden {
  overflow: hidden;
}

.image-petit-blog {
  width: 100%;
  margin: 0;
  transition: 0.4s;
}

.image-petit-blog:hover {
  transform: scale(1.1);
}

.texte-blog {
  padding: 2vh 10vw;
  line-height: 4vh;
}

.texte-about {
  line-height: 3.5vh;
}

.texte-titre {
  padding: 0 10vw;
  text-align: center;
  line-height: 4vh;
}

.espace-lettre {
  letter-spacing: 4px;
}

.espace-mot {
  word-spacing: 5px;
}

.texte-petit-blog {
  margin: 0 15px;
}

.margin-fin {
  margin: 4vh 0;
  width: 35vw;
}

.logo {
  border-bottom: 0;
  overflow: hidden;
  position: relative;
  width: 4em;
}

.logo:before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100px' height='100px' viewBox='0 0 100 100' preserveAspectRatio='none' zoomAndPan='disable'%3E%3Cpolygon points='0,0 100,0 100,25 50,0 0,25' style='fill:%23f4f4f4' /%3E%3Cpolygon points='0,100 100,100 100,75 50,100 0,75' style='fill:%23f4f4f4' /%3E%3C/svg%3E");
  background-size: 100% 100%;
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
}

.logo > img {
  margin: auto;
  margin-left: -0.25em;
  width: 4.5em;
}

.margin {
  margin-top: 2vh;
  margin-bottom: 4vh;
}

@media screen and (min-width: 700px) {
  .display-resp-block {
    display: block;
  }
  .display-resp-flex {
    display: flex;
  }
  .align-items-resp-start {
    align-items: start;
  }
  .align-items-resp-center {
    align-items: center;
  }
  .align-items-resp-end {
    align-items: end;
  }
  .justify-content-resp-space-between {
    justify-content: space-between;
  }
  .flex-direction-resp-column {
    flex-direction: column;
  }
  .flex-direction-resp-row {
    flex-direction: row;
  }
  .border-none-resp {
    border: none;
  }
  .border-resp {
    border: 1px solid rgba(160, 160, 160, 0.3);
  }
  .border-resp-right {
    border-right: 1px solid rgba(160, 160, 160, 0.3);
  }
  .border-resp-bottom {
    border-bottom: 1px solid rgba(160, 160, 160, 0.3);
  }
  .font-size-resp-10 {
    font-size: 10px;
  }
  .font-size-resp-15 {
    font-size: 15px;
  }
  .font-weight-resp-8 {
    font-weight: 800;
  }
  h1 {
    padding: 2vh 2vw;
  }
  .lorem:after {
    content: "LOREM";
  }
  .ipsum:after {
    content: "IPSUM";
  }
  .feugiat:after {
    content: "FEUGIAT";
  }
  .tempus:after {
    content: "TEMPUS";
  }
  .adipiscing:after {
    content: "ADIPISCING";
  }
  .barre {
    padding: 2px 2vw 2px 0;
  }
  .bouton-navbar {
    width: 5vw;
  }
  .margin-header {
    margin-right: 2vw;
  }
  .premiere-div {
    width: 24vw;
    padding-left: 9vw;
  }
  .titre-premiere-div {
    padding: initial;
    text-align: start;
    line-height: 4vh;
  }
  .deuxieme-div {
    top: 12vh;
    right: 8vw;
    position: absolute;
  }
  .contenue-deuxieme-div {
    width: 55vw;
  }
  .div-blog-fin {
    margin: auto;
  }
  .presentation-deuxieme-div {
    padding: 0 2vw 0 4vw;
  }
  .texte-titre {
    text-align: initial;
    padding: initial;
  }
  .auteur-date-article {
    margin-left: 0;
    margin-top: 3vw;
    padding-left: 2vw;
    text-align: end;
    width: 12vw;
  }
  .nom:after {
    content: "JANE DOE";
  }
  .div-image-blog {
    margin: 5vh 2vw 1vh 2vw;
  }
  .texte-blog {
    padding: 2vh 3vw;
    text-align: initial;
    line-height: 3vh;
  }
  .fin-deuxieme-div {
    width: 90%;
  }
  .ligne-blog {
    order: 1;
    width: 15vw;
  }
  .bouton {
    padding: 1vw;
    width: auto;
  }
  .bouton-retour {
    padding: 1vw;
    width: auto;
    margin-right: 1vw;
  }
  .bouton-log-in {
    width: 17vw;
  }
  .navbar {
    padding-top: 6vh;
  }
  .barre-div {
    width: auto;
  }
  .margin-fin {
    width: 10vw;
  }
  .texte-navbar {
    padding: 0 0 0 3vw;
  }
  .champs-recherche {
    width: 15vw;
    padding-left: 2vw;
  }
  .div-navbar {
    padding-bottom: 6vh;
  }
  .titre-navbar {
    width: 17vw;
  }
  .sous-titre-navbar {
    padding-top: initial;
  }
}

/*# sourceMappingURL=output.css.map */
